.firebaserc
.DS_Store
_site
.sass-cache
build
.firebaserc
.*swp
node_modules
.jekyll-metadata

# Dart and Flutter ignores.
.flutter-plugins
.packages
.pub/
pubspec.lock
packages
example/*.dart

src/_includes/code/**/android/
src/_includes/code/**/ios/

.idea/
.vscode/
vendor/
.bundle/config
