{% if page.show_banner -%}
  {% assign fl_url = '/jobs/infrastructure' -%}
  <div class="site-banner site-banner--default" role="alert">
    {% comment %} For headings use <h3> elements. {% endcomment -%}
    <p>
      Bienvenido a la página de la comunidad FlutterES. <br>Disfruta de la documentación traducida por los voluntarios de nuestra comunidad.
      <br>
      <small><a href="/disclaimer">Descargo de responsabilidad.</a></small>
    </p>
    

{% comment %}
{% endcomment %}
  </div>
{% endif -%}

{% if page.url == "/" %}
<h3 class="text-center w-75 mx-auto">Desde el corazón de la comunidad FlutterES, nace un nuevo concepto de academia online para ayudar a formar profesionales en nuestro SDK favorito.</h3>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <a href="https://www.gcoding.academy" class="d-md-block d-none mx-auto" style="background-image:url(/images/gcoding.jpg);background-position: center;background-repeat: no-repeat;background-size: cover; height: 200px;width: 600px;"> 
      </a> 
    </div>
  </div>
</div>

<a href="https://www.gcoding.academy" class="d-block d-md-none w-100 mx-auto" style="background-image:url(/images/gcoding.jpg);background-position: center;background-repeat: no-repeat;background-size: cover; height: 200px;"> 
</a>  
{% endif %}