{% if site.show_banner -%}
{% assign fl_url = 'https://developers.google.com/events/flutter-live' -%}
{% assign reg_url = 'https://events.withgoogle.com/flutter-live/registrations' -%}
<div class="alert alert-info alert__banner" role="alert">
  {% comment %} For headings use <h3> elements. {% endcomment -%}
    Únete a nosotros a
    <strong><a href="{{fl_url}}" target="_blank" rel="noopener">Flutter Live</a></strong>
    el 4 de Diciembre para una celebración de Flutter. ¡Estad atentos a las actualizaciones!
</div>
{% endif -%}
